
@{
    ViewBag.Title = "Index";
}

<div id="map"></div>

@section Styles {
    @Styles.Render("~/Content/map")
}

@section Scripts {
    @Scripts.Render("~/bundles/map")
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMWXcjYwHQEPTBBmpbBIVO6_RBtrGNwzY&callback=initMap" async defer>
</script>