@model Bike2Ride.WebClient.ViewModels.CityViewModel

@using (Ajax.BeginForm("Add", new
{}, new AjaxOptions
{
    HttpMethod = "POST",
}))
{
    
    @Html.EditorFor(_ => @Model)

    <button class="btn waves-effect waves-light" type="submit" name="action">Add</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}