<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="row valign-wrapper">
            <div class="col s8 m6 l4 offset-s1 offset-m1 offset-l1">
                <h1 class="center teal-text text-darken-3">Sofia</h1>
                <h5 class="teal-text">
                    Arrange your trip by choosing the places you insist to visit.
                    There is an option to reserve an available bike and a free slot
                    where you can return it through the mobile application. Enjoy
                    your ride!
                </h5>
                <div class="center">
                    <a href="#"
                       id="download-button"
                       class="btn-large waves-effect waves-light teal lighten-1">
                        Make a trip
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../../Images/Wallpapers 1600x900.jpg"
             alt="Bicycle">
    </div>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center brown-text">
                <i class="material-icons">timeline</i>
            </h2>
            <h5 class="center">Most popular routes</h5>

            <p class="light">
                Check out the most popular routes, sorted by how often users use it
                in descending order. You can see the best time result made to a
                given route and the user accomplished it. If you want you can try
                to improve that time. If so good luck!
            </p>

            <div class="center">
                <a href="#"
                   class="btn-large waves-effect waves-light teal lighten-1">
                    SHOW THE ROUTES
                </a>
            </div>

        </div>
    </div>

    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center brown-text">
                <i class="material-icons">directions_bike</i>
            </h2>
            <h5 class="center">Most active users</h5>

            <p class="light">
                See the most active users, sorted by the total distance which they
                have ridden. You can see all the trips that a given user have been
                accomplishand pictures that have been taken during a specific trip.
                Then you can choose a trip, you are interested in and have a ride.
                If so we wish you pleasant journey!
            </p>
            
            <div class="center">
                <a href="#"
                   class="btn-large waves-effect waves-light teal lighten-1">
                    SHOW THE USERS
                </a>
            </div>
        </div>
    </div>

    <div class="col s12 m4">
        <div class="icon-block">
            <h2 class="center brown-text">
                <i class="material-icons">location_on</i>
            </h2>
            <h5 class="center">All existing stations</h5>

            <p class="light">
                Experience Sofia in a whole new way! Bike2Ride is an enjoyable and
                cost-effective way to get around the city. Buy a day pass or become
                a member to gain access to 1,000 bikes and 150 stations for short
                rides around town at your convenience. Here you can see all the
                existing stations where you can borrow and return a bike, and how
                many bikes are available.
            </p>
            
            <div class="center">
                @Html.ActionLink(
                    "SHOW THE MAP",
                    "Index",
                    "Map",
                    new { area = "" },
                    new { @class = "btn-large waves-effect waves-light teal lighten-1" })
            </div>
        </div>
    </div>
</div>

<div id="bottom-banner" class="parallax-container">
    <div class="section">
        <div class="container">
            <div class="row">
                <h5 class="col s4 light">
                    Locate a bike at one of the slots around the city.
                    See bike availability on the Map or mobile app.
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../../Images/vintage-bicycle-bridge.jpg"
             alt="Vintage bicycle on a bridge">
    </div>
</div>