@{
    ViewBag.Title = "Home Page";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="row valign-wrapper">
            <div class="col s8 m6 l4 offset-s1 offset-m1 offset-l1">
                <h1 class="center teal-text text-darken-3">Bike2Ride</h1>
                <h5 class="teal-text">
                    Experience Sofia in a whole new way! Bike2Ride is an enjoyable and cost-effective way to get around the city. Buy a day pass or become a member to gain access to 1,000 bikes and 150 stations for short rides around town at your convenience.
                </h5>
                <div class="center">
                    <a href="http://materializecss.com/getting-started.html"
                       id="download-button"
                       class="btn-large waves-effect waves-light teal lighten-1">
                        SEE THE MAP
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../../Images/Wallpapers 1600x900.jpg"
             alt="Bicycle">
    </div>
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div id="bottom-banner" class="parallax-container">
    <div class="section">
        <div class="container">
            <div class="row">
                <h5 class="col s4 light">
                    Locate a bike at one of the 150 stations around the city.
                    See bike availability on the System Map or mobile app.
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../../Images/vintage-bicycle-bridge.jpg"
             alt="Vintage bicycle on a bridge">
    </div>
</div>