@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v30/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    color: #ffffff;
    color: rgba(255,255,255,.9);
    line-height: 0;
    min-height: 380px;
}

    .parallax-container .section {
        width: 100%;
        z-index: 2;
    }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 10%;
        z-index: 2;
    }

    #index-banner .section {
        top: 10%;
        z-index: 2;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
        z-index: 2;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
    padding-top: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

#index-banner:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 85%;
    height: 160px;
    width: 100%;
    background: #fff;
    -webkit-transform: skew(0deg, -5deg);
    -moz-transform: skew(0deg, -5deg);
    -o-transform: skew(0deg, -5deg);
    -ms-transform: skew(0deg, -5deg);
    transform: skew(0deg, -5deg);
    z-index: 1;
}

#bottom-banner:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 95%;
    height: 80px;
    width: 100%;
    background: #fff;
    -webkit-transform: skew(0deg, +2deg);
    -moz-transform: skew(0deg, +2deg);
    -o-transform: skew(0deg, +2deg);
    -ms-transform: skew(0deg, +2deg);
    transform: skew(0deg, +2deg);
    z-index: 1;
}


#bottom-banner:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 10%;
    height: 80px;
    width: 100%;
    background: #fff;
    -webkit-transform: skew(0deg, -10deg);
    -moz-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);
    z-index: 1;
}

.page-footer {
    text-align: center;
}
